[submodule "src/pacm"]
	path = src/pacm
	url = https://github.com/nilstate/pacm.git
	branch = main
[submodule "src/pluga"]
	path = src/pluga
	url = https://github.com/nilstate/pluga.git
	branch = main
