#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DBUILD_SHARED_LIBS=ON \
		-DUSE_SYSTEM_DEPS=OFF \
		-DBUILD_TESTS=OFF \
		-DBUILD_SAMPLES=OFF \
		-DBUILD_APPLICATIONS=OFF \
		-DBUILD_FUZZERS=OFF \
		-DBUILD_BENCHMARKS=OFF \
		-DBUILD_PERF=OFF \
		-DBUILD_ALPHA=OFF \
		-DCMAKE_DISABLE_FIND_PACKAGE_Doxygen=TRUE \
		-DENABLE_NATIVE_ARCH=OFF \
		-DWITH_FFMPEG=ON \
		-DWITH_LIBDATACHANNEL=ON \
		-DWITH_OPENCV=OFF \
		-DPREFER_SYSTEM_LIB=ON \
		-DUSE_NICE=ON \
		-DUSE_SYSTEM_JSON=ON \
		-DUSE_SYSTEM_PLOG=OFF \
		-DUSE_SYSTEM_SRTP=ON \
		-DUSE_SYSTEM_USRSCTP=ON \
		-DFETCHCONTENT_SOURCE_DIR_LIBUV=$(CURDIR)/vendor/libuv \
		-DFETCHCONTENT_SOURCE_DIR_LLHTTP=$(CURDIR)/vendor/llhttp \
		-DFETCHCONTENT_SOURCE_DIR_ZLIB=$(CURDIR)/vendor/zlib \
		-DFETCHCONTENT_SOURCE_DIR_LIBDATACHANNEL=$(CURDIR)/vendor/libdatachannel

override_dh_auto_test:
	true
